
.barra-navegacao{
   background-color: black;
   color: white;
   } 
 
 .texto-direito{
   text-align: right;
 }
 .link{
   padding: 5px  25px;
   background-color: rgb(255, 0, 0);
 } 
  h1{
   color: rgb(100, 3, 3);
   height: 5px 25px;
   background-color: rgb(206, 0, 0);
 }
 .meia-caixa{
   
   width: 50%;
    height:  250px;
    color: white;
    background-color: red;
 } 
 
 .caixa-completa{
    width: 100%;
    height:  500px;
    color: white;
    background-color: green;
 } 